[Unit]
Description=GeniusSDK Full Node
After=network.target

[Service]
Type=simple
User=geniussdk
EnvironmentFile=-/etc/geniussdk/common.conf
EnvironmentFile=-/etc/geniussdk/full-node.conf
Environment="GENIUSSDK_BIN=/usr/bin/GeniusSDKService"
Environment="GENIUSSDK_FULL_PATH=/var/lib/geniussdk/full/"
Environment="GENIUS_PROCESS=1"
ExecStart=/bin/sh -c 'exec $GENIUSSDK_BIN $GENIUSSDK_FULL_PATH 1 $GENIUS_PROCESS 40001 1'
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
